.custom-paragraph {
    margin-bottom: 10px;
  }
  
  .custom-heading {
    font-family: 'Arial', sans-serif; /* Change to your desired font */
    font-size: 36px; /* Change the size as needed */
  }