body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    position: fixed;
    width: 100%;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px; /* Adjust margin to make space for the fixed header */
    overflow-y: auto;
  }
  
  footer {
    flex: 0 30px;
    
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 20px;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  .navbar-nav {
    justify-content: end; 
    padding-right: 20px;
  }
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }